asgiref
Django>3
django-autoslug
django-filter>20
django-environ
djangorestframework>3
django-cors-headers>3
flake8
gunicorn
importlib-metadata
mccabe
Pillow>7
psycopg2
pycodestyle>1
pyflakes
PyJWT>2
pytz
sqlparse
typing_extensions
zipp
